<h2>All Cute Kittens</h2>

<% @kittens.each do |kitten| %>
  <div>
    <h5>name: <%= kitten.name %></h5>
    <p>age: <%= kitten.age %></p>
    <p>cuteness: <%= kitten.cuteness %></p>
    <p>softness: <%= kitten.softness %></p>
  </div>
<% end %>
